<div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen flex flex-col items-center justify-center bg-gray-100 font-sans
        overflow-x-scroll">
        <h1 class="text-2xl font-medium text-gray-500">Pending users list</h1>
        <div class="w-full lg:w-5/6">
            <div class="bg-white shadow-md rounded my-6">
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">ID</th>
                            <th class="py-3 px-6 text-left">NAME</th>
                            <th class="py-3 px-6 text-left">EMAIL</th>
                            <th class="py-3 px-6 text-center">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        <tr *ngFor="let user of list" class="border-b border-gray-200 hover:bg-gray-100">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <span class="font-medium">{{user.id}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <span>{{user.name}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center">
                                    <span>{{user.email}}</span>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <div (click)="handleAction('approve', user)"
                                        [ngClass]="{'text-purple-500': user.isApproved}"
                                        class="w-4 mr-2 cursor-pointer transform hover:text-purple-500 hover:scale-110">
                                        <fa-icon [icon]="approveIcon"></fa-icon>
                                    </div>
                                    <div (click)="handleAction('reject', user)"
                                        [ngClass]="{'text-purple-500': !user.isApproved}"
                                        class="w-4 mr-2 cursor-pointer transform hover:text-purple-500 hover:scale-110">
                                        <fa-icon [icon]="rejectIcon"></fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="list.length === 0"
                    class="border-b border-gray-200 hover:bg-gray-100 text-center py-10 font-medium text-gray-500">
                    No new users
                </div>
            </div>
        </div>
    </div>
</div>