<div [hidden]="success" class="div-container p-2 mb-2 flex flex-col items-start">

    <div class="flex flex-row w-full items-baseline p-1">
        <h1 class="mr-1 text-2xl font-medium">{{!!appointment && appointment.agenda}}</h1>
        <h2 class="mr-1 text-sm font-medium text-gray-600">Organized by {{!!appointment && appointment.user.name}}</h2>
    </div>

    <div class="flex flex-row w-full items-baseline p-2">
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Date from</label>
            <span>{{!!appointment && appointment.date.start | date : 'MMM d, y'}}</span>
        </div>
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Date to</label>
            <span>{{!!appointment && appointment.date.end | date : 'MMM d, y'}}</span>
        </div>
    </div>

    <div class="flex flex-row w-full items-baseline p-2">
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Time</label>
            <span>{{!!appointment && appointment.time}}</span>
        </div>
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Room</label>
            <span>{{!!appointment && appointment.room.name || "no room set"}}</span>
        </div>
    </div>

    <div class="flex flex-row w-full items-baseline p-2">
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Description</label>
            <span>{{!!appointment && appointment.description}}</span>
        </div>
    </div>

    <div *ngIf="appointment" class="flex flex-col w-full items-baseline p-2 mb-6">
        <div class="flex flex-col w-full items-baseline">
            <label class="text-lg font-medium text-gray-600">Participants</label>
            <span *ngFor="let person of appointment.participants">
                <fa-icon [icon]="icon_participant"></fa-icon>
                {{person.name}}
            </span>
        </div>
    </div>

    <div *ngIf="!!appointment && appointment.userId === loggedUserId" class="flex flex-row space-x-4">
        <a mat-raised-button color="primary"
            routerLink="../../../../appointment/update/{{!!appointment && appointment.id}}">EDIT</a>
        <a mat-raised-button color="warn" (click)="handleDelete(appointment.id)">DELETE</a>
    </div>

</div>


<div *ngIf="success" class="div-container flex-col bg-gray-200 p-5 m-4 max-w-lg mx-auto">
    <h2 class="font-medium">Appointment deleted Successfully</h2>
    <a class="underline" routerLink="/dashboard/list">Go back to list</a>
</div>